// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #328278 !default;
$header-bg-color: #00DAA4 !default;
$header-bg-color-secondary: #003433 !default;

// Text
$section-headings-color: #328278 !default;
$body-text-color: #328278 !default;
$body-link-color: #328278;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #FFBF3F !default;
$table-border-color: #003433 !default;
$hr-border-color: #eff0f1 !default;

// Braintree
$braintree-font:#328278 !default;
$braintree-background: lightcyan !default;
$braintree-navbar: lightcyan !default;
// $braintree-contact: #ffffff !default;
$braintree-contact: ghostwhite !default;
$braintree-border: #328278 !default;
$braintree-main: lightcyan !default;
$braintree-button-bg: #328278 !default;
$braintree-button-color: white !default;
$braintree-hover: #00DAA4;
$braintree-colour1: #003433 !default;
$braintree-colour2: #328278 !default;
$braintree-colour3: #92D400 !default;
$braintree-colour4: #04EB6D !default;
$braintree-colour5: #00DAA4 !default;
$braintree-colour6: #FFBF3F !default;
$braintree-colour7: #FF8200 !default;
$braintree-colour8: #FF5000 !default;