// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #328278 !default;
$header-bg-color-secondary: #003433 !default;

// Text
$section-headings-color: #328278 !default;
$body-text-color: #328278 !default;
$body-link-color: #328278;
// $body-link-color: darkblue ;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: purple !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;