// // Breakpoints
// $large-breakpoint: 64em !default;
// $medium-breakpoint: 42em !default;

// // Headers
// $header-heading-color: #fff !default;
// $header-bg-color: #FFBF3F !default;
// $header-bg-color-secondary: #003433 !default;

// // Text
// // $section-headings-color: #159957 !default;
// $section-headings-color: red ;
// $body-text-color: #606c71 !default;
// // $body-link-color: #1e6bb8 !default;
// $body-link-color: darkblue ;
// $blockquote-text-color: #819198 !default;

// // Code
// $code-bg-color: #f3f6fa !default;
// $code-text-color: #567482 !default;
